<h1>Microblogging Site </h1>
<div class="flash_message">
	<%= flash[:error] %>
</div>
<div class="dialog">
<%= form_tag("/user/authenticate", :method => :post) do  %>
	<br>
	<%= label_tag(:userid, "Login   ") %>
	<%= text_field_tag(:userid) %> <br><br>

	<%= label_tag(:password, "Password") %>
	<%= password_field_tag(:password) %> <br><br>

	<%= submit_tag("Sign In") %><br><br>
	<%#= link_to "SignUp", user_add_path %>
<%end %>
</div>