<%# add navigation links to this file %>
<% if session[:authenticated] == true %>
  <li><%= link_to 'Logout', user_logout_path %></li>
<% else %>
  <li><%= link_to 'Login', user_login_path %></li>
<% end %>
<% if session[:authenticated] == true %>
  <li><%= link_to 'Edit account', user_edit_path %></li>
<% else %>
  <li><%= link_to 'Sign up', user_add_path %></li>
<% end %>
<% if session[:authenticated] == true %>
  <li><%= link_to 'Posts', posts_path %></li>
<% end %>
